.form__task {
  margin-top: 10px;
  width: 100%;
  max-height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.form__SumPlan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fe;
  border-radius: 10px 10px 0 0;
  padding: 3% 3% 0;
  position: relative;
}
.form__SumAddOns {
  background-color: #f8f9fe;
  border-radius: 0 0 10px 10px;
  padding: 3% 3% 0;

  @media (orientation: landscape) and (max-width: 1000px) {
    padding: 0 3%;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.form__SumTotal {
  display: flex;
  justify-content: space-between;
  padding: 3% 3% 0;
}
.form__title {
  font-size: 1.6em;
  color: #022a61;}
.sum__text {
  color: #999;
  padding: 0 0 3% 0;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: normal;
  @media (orientation: landscape) and (max-width: 1000px) {
    padding: 0;
  }
  @media (min-width: 1000px) {
    padding: 0 0 1% 0;
  }
}
.sum__totalMoney {
  font-size: 2rem;
  color: #5047fa;
  font-weight: bold;
}

.change {
  margin-bottom: 2%;
  font-size: 1.5em;
  color: #999;
  line-height: 2em;
  text-decoration: underline;
  cursor: pointer;
}
.sum__totalPlan {
  margin: 0;
  padding: 0;
  color: #022a61;
  height: fit-content;
  font-weight: bold;
}
