.task {
  width: 100%;
  max-height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.element {
  margin-top: 10px;
  max-height: 150px;
  padding: 10px;
  border: solid 1px #999;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}
.element:hover {
  border-color: #022a61;
}
.check {
  position: relative;
  margin: 5px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: solid #999 1px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.active {
  background-color: #f0f6ff;
  border-color: #022a61;
}
.activeIcon {
  background-color: #022a61;
  background-image: url('../../../assets/icon-checkmark.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.wrapDescriotion {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  margin-left: 5px;
}
.title {
  width: 100%;
  font-size: 1.6rem;
  color: #022a61;
  font-weight: bold;
  text-transform: capitalize;
}

.descriotion {
  flex-basis: 80%;
  font-size: 1.4rem;
  line-height: 1.5em;
  color: #999;
}

.money {
  font-size: 1.4rem;
  color: #999;
  padding-top: 5px;
}
