.form__task {
  margin-top: 10px;
  width: 100%;
  max-height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.info {
  margin-top: 6px;
  position: relative;
  input {
    width: 100%;
    margin-top: 5px;
    padding-left: 3%;
    font-size: 2em;
    line-height: 2em;
    color: #022a61;
    border: 1px solid #777;
    border-radius: 10px;
    cursor: pointer;
    @media (orientation: landscape) and (max-width: 1000px) {
      margin-top: 5px;
      padding: 0px 3%;
      font-size: 1.5em;
    }
  }
}

.infoName {
  color: #022a61;
  width: 100%;
  font-size: 2em;
  @media (orientation: landscape) and (max-width: 1000px) {
    font-size: 1.5em;
  }
}

.infoRequier {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
}

.clean {
  position: absolute;
  top: 40px;
  right: 5px;
  width: 13px;
  height: 13px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50%;
  color: #fff;
  background-color: #022a61;
  cursor: pointer;
  p {
    font-weight: bold;
  }
}
