.form {
  width: 100%;
  height: 100%;
  background-color: hsl(217, 100%, 97%);
  @media (min-width: 1000px) {
    background-color: transparent;
    position: relative;
  }
}

.form__step {
  // display: none;
  position: absolute;
  top: calc(2 * 2rem + 5vh);
  left: 50%;
  transform: translate(-50%, -0%);
  width: 90%;
  max-height: 80%;
  padding: 5%;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  @media (orientation: landscape) and (max-width: 1000px),
    (orientation: portrait) and (min-width: 900px) and (max-width: 1000px) {
    left: auto;
    right: 0%;
    top: 5vh;
    transform: translate(0);
    width: 85%;
    height: 80%;
    padding: 3%;
  }
  @media (min-width: 1001px) {
    top: 5%;
  }
  @media (orientation: landscape) and (max-height: 300px) {
    top: 5px;
  }
}

.form__title {
  width: 100%;
  font-size: 3em;
  color: hsl(213, 96%, 18%);
  @media (max-width: 950px) and (orientation: landscape) {
    margin: 0;
    font-size: 2em;
  }
}
.form__info {
  margin-top: 5px;
  width: 100%;
  line-height: 1.3em;
  font-size: 1.6rem;
  color: #999;
  @media (orientation: landscape) and (max-width: 1000px) {
    font-size: 1.2em;
  }
}
.form__task {
  margin-top: 10px;
  width: 100%;
  max-height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.info {
  margin-top: 6px;
  position: relative;
  input {
    width: 100%;
    margin-top: 5px;
    padding-left: 3%;
    font-size: 2em;
    line-height: 2em;
    color: #022a61;
    border: 1px solid #777;
    border-radius: 10px;
    cursor: pointer;
    @media (orientation: landscape) and (max-width: 1000px) {
      margin-top: 5px;
      padding: 0px 3%;
      font-size: 1.5em;
    }
  }
}
.info__requier {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
}

.infoName {
  color: #022a61;
  width: 100%;
  font-size: 2em;
  @media (orientation: landscape) and (max-width: 1000px) {
    font-size: 1.5em;
  }
}
.form__task--plans {
  @media (orientation: landscape) and (max-width: 1000px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
//
.form__element {
  margin-top: 3%;
  max-height: 160px;
  border: solid 1px #999;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  @media (orientation: landscape) and (max-width: 1000px) {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
  img {
    margin: 3% 5%;
    @media (orientation: landscape) and (max-width: 1000px) {
      margin: 10% 10%;
    }
  }
}

.form__descriotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  @media (orientation: landscape) and (max-width: 1000px) {
    margin: 10% 10%;
  }
}
.form__title {
  font-size: 1.6em;
  color: #022a61;
  text-transform: capitalize;
}
.form__money {
  font-size: 1.4em;
  color: #999;
  padding-top: 5px;
}
.plan__descriotion {
  font-size: 1.4;
  color: #022a61;
}

.toggle {
  margin-top: 3%;
  background-color: #f8f9fe;
  width: 100%;
  padding: 3% 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  p {
    margin: 0 5%;
    font-size: 1.6em;
    color: #999;
  }
}
.switch {
  position: relative;
  margin: 0 0;
  display: block;
  width: 40px;
  height: 20px;
  background-color: #022a61;
  border-radius: 90px;
}
.switch__add {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  top: 50%;
  left: 3px;

  transform: translateY(-50%);
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}
.form__element--addOns {
  justify-content: space-around;
  padding: 3% 2%;
  @media (orientation: landscape) and (max-width: 1000px) {
    margin: 2% 0 0 0;
  }
}
.form__descriotion--addOns {
  flex-basis: 80%;
  @media (orientation: landscape) and (max-width: 1000px) {
    margin: 0 auto 0 5%;
  }
}
.addOns__descriotion {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #999;
  flex-basis: 80%;
}
.addOns__check {
  margin: 4%;
  border-radius: 5px;
  border: solid #999 1px;
  height: 2em;
  width: 2em;
  position: relative;
  @media (orientation: landscape) and (max-width: 1000px) {
    margin: 0 auto;
  }
  img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__element--SumPlan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fe;
  border-radius: 10px 10px 0 0;
  padding: 3% 3% 0;
  position: relative;
}
.change {
  margin-bottom: 2%;
  font-size: 1.5em;
  color: #999;
  line-height: 2em;
  text-decoration: underline;
  cursor: pointer;
}
.change:hover {
  color: #022a61;
}
.form__element--SumPlan::before {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 95%;
  border-bottom: 1px solid #999;
}

.form__element--SumAddOns {
  background-color: #f8f9fe;
  border-radius: 0 0 10px 10px;
  padding: 3% 3% 0;

  @media (orientation: landscape) and (max-width: 1000px) {
    padding: 0 3%;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.sum__text {
  color: #999;
  padding: 0 0 3% 0;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: normal;
  @media (orientation: landscape) and (max-width: 1000px) {
    padding: 0;
  }
  @media (min-width: 1000px) {
    padding: 0 0 1% 0;
  }
}
.sum__totalPlan {
  margin: 0;
  padding: 0;
  color: #022a61;
  height: fit-content;
  font-weight: bold;
}
.form__element--SumTotal {
  display: flex;
  justify-content: space-between;
  padding: 3% 3% 0;
}
.sum__totalMoney {
  font-size: 2rem;
  color: #5047fa;
  font-weight: bold;
}

.thankYou {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;

  img {
    display: block;
    height: fit-content;
    width: fit-content;

    margin: 10px auto;
  }
  h3 {
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
  }
  p {
    text-align: center;
    font-size: 1.4em;
    margin: 10px 0;
  }
}
